.banner {
  font-family: $lato;
  padding: 3em 1em;
  h1 {
    font-weight: $weight-bold;
    font-size: $large;
    text-align: center;
    padding: 1em;
  }
  .btn-small {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
  }
}
.carousel-wrapper {

}
