@mixin flexwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

@mixin flexitem {
 -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.dashboard {
  padding: 6em 1em 5em 1em;
  @media only screen and (min-width: $breakpoint) {
    padding-top: 8em;
  }
  h1 {
    font-weight: $weight-bold;
    font-size: $large;
    font-family: $roboto-slab;
    padding-bottom: 1em;
    text-align: center;
  }
  .dashboard-links-wrapper {
    font-family: $roboto-slab;
    @include flexwrapper;

    a {
      @include flexitem;
      margin: 0.5em;
      color: $color-base;
      font-size: $large;
      font-weight: $weight-bold;
      text-align: center;
      width: 9em;
      height: 9em;
      line-height: 9em;
      &:hover {
        color: $color-accent-light;
      }
      @media only screen and (min-width: $breakpoint) {
        margin: 0.2em;
      }
    }
    .dashboard-future {
      background-image: url('../imgs/barcelona2.jpg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .dashboard-past {
      background-image: url('../imgs/montreal2.jpg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .dashboard-map {
      background-image: url('../imgs/colombia2.jpg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}


