header {
  height: 3em;
  border-bottom: 1px solid $color-secondary;
  padding: 1em 1em;
  .header-button-wrapper {

    @media only screen and (min-width: $breakpoint) {
      position: static;
    }
    h1 {
      float: left;
      font-family: $roboto-slab;
      font-weight: $weight-normal;
      font-size: $large;
      display: inline;
      @media only screen and (min-width: $breakpoint) {
        // padding-top: 0.5em;
        font-size: $large;
      }
    }
    span {
      float: right;
      display: inline;
      font-size: $large;
      color: $color-primary;
      @media only screen and (min-width: $breakpoint) {
        display: none;
      }
    }
  }
  @media only screen and (min-width: $breakpoint) {
    padding: 2em 5em 2em 5em;
  }
}
