// body {
//   top: 5em;
// }
header {
  height: 3em;
  border-bottom: 1px solid $color-secondary;
  padding: 1em 1em;
  background-color: $color-base;
  // scroll up bar plugin
  position: absolute;
  top: -5em;
  left: 0;
  width: 100%;
  z-index: 600;

  .header-button-wrapper {
    padding-right: 2em;
    @media only screen and (min-width: $breakpoint) {
      position: static;
    }
    h1 {
      float: left;
      font-family: $roboto-slab;
      font-weight: $weight-normal;
      font-size: $large;
      display: inline;
      @media only screen and (min-width: $breakpoint) {
        // padding-top: 0.5em;
        font-size: $large;
      }
    }
    .icon-menu {
      float: right;
      display: inline;
      font-size: $large;
      color: $color-primary;
      @media only screen and (min-width: $breakpoint) {
        display: none;
      }
    }
  }
  @media only screen and (min-width: $breakpoint) {
    padding: 2em 5em 2em 5em;
  }
}
