@mixin flexwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

@mixin flexitem {
 -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.list-wrapper {
  padding: 6em 0.5em 5em 0.5em;
  width: 100%;
  @media only screen and (min-width: $breakpoint) {
    padding-top: 8em;

  }
  h1 {
    text-align: center;
    font-family: $roboto-slab;
    font-weight: $weight-bold;
    font-size: $large;
    padding-bottom: 1em;
  }
}

.list-article {
  font-family: $lato;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: left;
  padding: 2em;
  border-bottom: 1px solid $color-secondary;
  @media only screen and (min-width: $breakpoint) {
    width: 50%;
  }
  figure {
    img {
      display: block;
      margin: 0 auto;
      height: 10em;
      border-radius: 80%;
      background: $color-accent;
    }
  }
  h2 {
    font-weight: $weight-normal;
    font-size: $medium;
    letter-spacing: 0.2em;
    padding: 1em 0;
  }
  p {
    line-height: $medium;
  }
  &:last-child {
    border: none;
  }
}
.article-links {
  list-style-type: none;
  padding-top: 1em;
  width: 90%;
  @include flexwrapper;
  @media only screen and (min-width: $breakpoint) {
    width: 60%;
  }
  li {
    @include flexitem;
  }
  a {
    font-size: $x-small;
    width: 5.5em;
  }
}
