.signin {
  height: 30em;
  padding: 10em 0 8em 0;
  font-family: $lato;
  color: $color-base;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../imgs/barcelona1.jpg');
  background-size: cover;
  background-position: center center;
  @media only screen and (min-width: $breakpoint) {
    height: 30em;
    padding: 20em 0 15em 0;
  }
  h1 {
    text-align: center;
    font-family: $roboto-slab;
    font-weight: $weight-bold;
    font-size: $large;
    padding-bottom: 1em;
    @media only screen and (min-width: $breakpoint) {
      font-size: $x-large;
    }
  }
  p {
    // text-align: center;
  }

  input {
    display: block;
    padding: 1.5em;
    margin: 1em auto;
    justify-content: center;
    border: none;

    @media only screen and (min-width: $breakpoint) {
      display: inline-flex;
      margin-right: 1em;
    }
  }
  .btn-small {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    &:hover {
      cursor: pointer;
    }
  }
}
.signup {
  @extend .signin;
  background-image: url('../imgs/machupicchu.jpg');
  background-size: cover;
  background-position: center center;
  // padding: 6em 1em 5em 1em;
  // color: $color-base;
  @media only screen and (min-width: $breakpoint) {
    // height: 30em;
    // padding: 20em 0 15em 0;
  }
}
.login-wrapper {
  @media only screen and (min-width: $breakpoint) {
    // width: 60%;
  }
}
