.login {
  font-family: $lato;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  border: 1px solid $color-secondary;
  h1 {
    text-align: center;
    font-family: $lato;
    font-weight: $weight-bold;
    font-size: $medium;
    padding-bottom: 1em;
  }
  input {
    display: block;
    padding: 1em;
    margin-right: 1em;
    justify-content: center;
    margin: 0.5em;
    @media only screen and (min-width: $breakpoint) {
      display: inline-flex;
    }
  }
  .btn-small {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
  }

}
