.photo-summary {
  padding: 3em 1em;
  border-bottom: 1px solid $color-secondary;

  h1 {
    text-align: center;
    font-family: $roboto-slab;
    font-weight: $weight-bold;
    font-size: $large;
    padding-bottom: 1em;
  }
  h2 {
    text-align: center;
    font-family: $lato;
    font-weight: $weight-bold;
    font-size: $medium;
    padding-bottom: 1em;
  }
}
.flickr {
  h1 {
    margin-bottom: 2em;
  }
  div {
    width: 4em;
    height: 4em;
    text-align: center;
    margin: 0.2em;
    display: inline-block;

    &:nth-child(odd) {
      background-color: $color-accent;
      &:hover {
        background-color: $color-accent-light;
      }
    }
    &:nth-child(even) {
      background-color: $color-primary;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}
