.welcome {
  font-family: $lato;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  clear: both;
  padding: 5em 0;
  border-bottom: 1px solid $color-secondary;
  h1 {
    font-weight: $weight-bold;
    font-size: $medium;
    padding-bottom: 1em;
  }
  a {
    font-weight: $weight-bold;
    margin: 0.5em;
  }
  .welcome-wrapper {

  }
}
