.welcome {
  font-family: $lato;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-family: $lato;
    font-weight: $weight-bold;
    font-size: $medium;

  }
  a {
    font-weight: $weight-normal;

  }
  .welcome-wrapper {
    max-width: 50%;
  }
}
