<!doctype html>
<html class="no-js" lang="en" ng-app="mapsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Travel Map</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrXy6WRs6tH1roPBbwXXdaNR0NhE_MsDI"></script>
  </head>
  <body class="nav-main-push">

    <!-- TOP NAV  -->
    <header id="topbar">
      <div class="header-button-wrapper">
        <h1><a href="#/dashboard">My Travel Map</a></h1>
        <span class="icon-menu" id="showRight"></span>
      </div>

      <nav class="nav-main nav-main-vertical nav-main-right" id="nav-main-s2">
        <ul>
          <li class="hvr-wobble-horizontal"><a href="#/map">Map</a></li>
          <li class="hvr-wobble-horizontal"><a href="#/future">Future</a></li>
          <li class="hvr-wobble-horizontal"><a href="#/past">Past</a></li>

          <li class="hvr-wobble-horizontal"><a data-ng-if="!loggedIn()" href="#/signin">Log In</a></li>

          <li class="hvr-wobble-horizontal"><a data-ng-if="loggedIn()" href data-ng-click="logOut()">Log Out {{username? ' of ' + username : ''}}</a></li>
        </ul>
      </nav>
    </header>

    <main ng-view class="reveal-animation"></main>

    <!-- FOOTER  -->
    <footer>
      <ul class="footer-links">
        <li>My Travel Map</li>
        <li><a href="#">Press</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="social-media-links">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-google"></span></a></li>
        <li><a href="#"><span class="icon-pinterest"></span></a></li>
      </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
    <script src="js/styles.js"></script>

    <!-- <script>window.jQuery || document.write('<script src="js/slick/jquery.js"><\/script>')</script> -->

  </body>
</html>
