.bookmarks-summary {
  padding: 3em 1em;
  li {
    &:hover {
      color: $color-primary;
    }
  }
  a {
    font-family: $lato;
  }
  @media only screen and (min-width: $breakpoint) {
    width: 60%;
    margin: 0 auto;
  }
}
