.photo-summary {
  padding: 3em 1em;
  @media only screen and (min-width: $breakpoint) {
    width: 60%;
    margin: 0 auto;
  }
  a {
    font-family: $lato;
  }
}
.gallery {
  padding: 1em;
  div {
    margin: .5em .5em .5em 0;
    display: inline-block;
  }
  img {
    width: 10em;
    height: 10em;
    text-align: center;
  }
}



