/// ===== VARIABLES ===== ///

// Breakpoint for Media Queries
$breakpoint: 50em;

// Font Family variables
$lato: 'Lato', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

// Font weight variables
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// Color variables
$color-base: #fff;
$color-primary: #b2b2b2;
$color-secondary: #d2d2d2;
$color-accent: #e5886d;
$color-accent-light: #fabdab;

/// ===== MAPS ====== ///


// Text size maps
$font-size: (
  'x-small': em(14),
  'small': em(16),
  'medium': em(20),
  'large': em(24),
  'x-large': em(28),
  'xx-large': em(34),
  'mega-small': em(48),
);

