/// ===== VARIABLES ===== ///

// Breakpoint for Media Queries
$breakpoint: 50em;

// Font Family variables
$lato: 'Lato', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

// Font weight variables
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// Color variables
$color-base: #fff;
$color-primary: #b2b2b2;
$color-secondary: #d2d2d2;
$color-accent: #e5886d;
$color-accent-light: #fabdab;

// Font variables
$xx-small: 0.5em;
$x-small: 0.707em;
$small: 1em;
$medium: 1.414em;
$large: 1.999;
$x-large: 2.827;
$xx-large: 3.998em;


