<section class="updateForm">
<!-- ADD / UPDATE DETAILS FORM -->
  <div class="updateForm-wrapper">
    <h1>Update Details Form</h1>
    <form name ="updateForm" novalidate>
      <fieldset>
        <label for="destination">Destination</label>
        <input type="text" placeholder="Destination" ng-model="updateForm.destination" required>
      </fieldset>
      <fieldset>
        <label for="departure">Departure</label>
        <input type="date" placeholder="10-1-2015" ng-model="updateForm.departure" required>
      </fieldset>
      <fieldset>
        <label for="days"># of Days</label>
        <input type="number" placeholder="12 days" ng-model="updateForm.days" required>
      </fieldset>
      <fieldset>
        <label>Plan</label>
        <input type="text" placeholder="Eiffel Tower... " ng-model="updateForm.plan">
      </fieldset>
      <fieldset>
        <label>Photos</label>
        <button class="btn-xsmall" id="upload_widget_opener">Add photos</button>
        <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
        <script type="text/javascript">
          document.getElementById("upload_widget_opener").addEventListener("click", function() {
            cloudinary.openUploadWidget({
              cloud_name: 'dhtizamqh',
              upload_preset: 'bslsfe4i'
              },
              function(error, result) {
                if (error)
                  console.log(error);
                if (result)
                  console.log(result[0].url);
               });
              }, false);
        </script>
      </fieldset>
      <fieldset>
        <label>Memos</label>
        <input type="text" placeholder="Bring sunglasses..." ng-model="updateForm.memos">
      </fieldset>
      <fieldset>
        <label>Bookmarks</label>
        <input type="text" placeholder="http://..." ng-model="updateForm.bookmarks">
      </fieldset>
      <!-- on SUBMIT, go to /summary view -->
      <a href="#/summary"><button type="submit" class="btn-small" ng-disabled="updateForm.$invalid">Submit</button></a>

    </form>
  </div>
</section>
