<section class="updateForm" ng-init = "getPlan()">
<!-- ADD / UPDATE DETAILS FORM -->
  <div class="updateForm-wrapper">
    <h1>Update Trip Details Form</h1>
    <form name ="updateForm" data-ng-submit = "updatePlan(updateForm)">
    {{tripInfo2.name}}
      <fieldset>
        <label for="destination">Destination</label>
        <input type="text" placeholder= "{{tripInfo2.name}}" data-ng-model="updateForm.name">
      </fieldset>
      <fieldset>
        <label for="departure">Departure</label>
        <input type="date" placeholder="10-1-2015" data-ng-model="updateForm.start">
      </fieldset>
       <fieldset>
        <label for="departure">Return</label>
        <input type="date" placeholder="10-1-2015" data-ng-model="updateForm.end">
      </fieldset>
      <fieldset>
        <label for="days">Duration</label>
        <input type="number" placeholder="12 days" data-ng-model="updateForm.duration">
      </fieldset>
      <label>Future or Past?</label>
      <fieldset class="radio">
        <label>
          <input type="radio" value="Future" data-ng-model="updateForm.type">
            Future
        </label>
      </fieldset>
      <fieldset class="radio">
        <label>
          <input type="radio" value="Past" data-ng-model="updateForm.type">
            Past
        </label>
      </fieldset>
      <fieldset>
        <label>Plan</label>
        <input type="text" placeholder="Eiffel Tower... " data-ng-model="updateForm.plan">
      </fieldset>
      <fieldset>
        <label>Photos</label>

        <button class="btn-xsmall" id="upload_widget_opener" data-ng-click="addPhoto()">Add photos!!!</button>
      <fieldset>
        <label>Memos</label>
        <input type="text" placeholder="Bring sunglasses..." data-ng-model="updateForm.memo">
      </fieldset>
      <fieldset>
        <label>Bookmarks</label>
        <input type="text" placeholder="http://..." data-ng-model="updateForm.bookmark">
      </fieldset>
      <!-- on SUBMIT, go to /summary view -->
      <button type="submit" class="btn-small">Submit</button>

    </form>
  </div>
</section>