<!-- DASHBOARD -->
<section class="dashboard">
  <h1>Dashboard</h1>
  <!-- Image as background for links -->
  <div class="dashboard-links-wrapper">
    <figure>
      <img src="imgs/AngelinaJolieDrawing.jpg" alt="Angelina Jolie">
      <figcaption><a href="#">Future</a></figcaption>
    </figure>
    <figure>
      <img src="imgs/AngelinaJolieDrawing.jpg" alt="Angelina Jolie">
      <figcaption><a href="#">Past</a></figcaption>
    </figure>
    <figure>
      <img src="imgs/AngelinaJolieDrawing.jpg" alt="Angelina Jolie">
      <figcaption><a href="#">Map</a></figcaption>
    </figure>
  </div>
</section>
