<!-- !! LIST VIEW !!-->
<!-- FUTURE TRIPS-->
<section class="list-wrapper">
  <h1>Future Journeys</h1>
  <!-- ng-repeat the article -->
  <article class="list-article">
    <figure>
      <img src="imgs/JackieChanDrawing.png" alt="Profile avatar or photo of place">
    </figure>
    <h2>New York, NY</h2>
    <p class="travel-date">9.1 - 9.10.2015</p>
    <p class="travel-description">Bacon ipsum dolor amet bresaola kevin chuck, pork loin meatloaf shankle hamburger turkey bacon sausage. Kielbasa swine ham hock, pork loin biltong ribeye turkey porchetta. Boudin pork loin shoulder, cow hamburger venison meatball.</p>
    <ul class="article-links">
      <li><a href="#" class="btn-xsmall">Photos</a></li>
      <li><a href="#" class="btn-xsmall">Plan</a></li>
      <li><a href="#" class="btn-xsmall">Memos</a></li>
      <li><a href="#" class="btn-xsmall">Links</a></li>
    </ul>
  </article>

</section>
