<!-- MAP -->
<section class="google-map" data-ng-app="mapsApp">
  <div data-ng-controller="locationCtrl" data-ng-init="getAll()">
    <h1>Google Map</h1>
    <h2>Single-click to choose a location</h2>
    <div id="map"></div>

    <!-- MODAL DIALOG -->
    <div data-ng-show='modalShown'>
      <div class='ng-modal-overlay'>
        <div class='ng-modal-dialog' ng-style='dialogStyle'>

          <!-- LOCATION VIEW -->
          <article class="location-view" data-ng-hide="addTrip">
            <fieldset>
              <label for="destination">{{name}}</label><br>
              <button class="btn-small" data-ng-click="addTrip=true">Add Trip</button>
              <button class="btn-small" data-ng-click="hideModal()">Cancel</button>
            </fieldset>
          </article>

          <!-- FORM VIEW -->
          <div class="mapForm-wrapper" data-ng-show="addTrip">
            <h2>Add Trip</h2>
            <form name ="newLocation" novalidate>
              <fieldset>
                <label for="destination">{{name}}</label>
              </fieldset>
              <fieldset>
                <label for="departure">Departure Date</label>
                <input type="date" placeholder="10-1-2015" data-ng-model="newLocation.start" required>
                {{ newLocation.start | date }}
              </fieldset>
              <fieldset>
                <label for="days">Duration</label>
                <input type="number" placeholder="12 days" data-ng-model="newLocation.days" required>
                {{ newLocation.days }}
              </fieldset>
              <button type="submit" class="btn-small" data-ng-click="createFutureTrip(newLocation)">Future</button>
              <button type="submit" class="btn-small" data-ng-click="createPastTrip(newLocation)">Past</button>
              <button class="btn-small" data-ng-click="hideModal()">Cancel</button>
            </form>
          </div>   <!-- END OF ng-show="addTrip" -->

        </div>   <!-- END OF ng-modal-dialog -->
      </div>  <!-- END OF ng-modal-overlay-->
    </div> <!-- END OF data-ng-show="modalShown" -->

  </div>
</section>