<!-- MAP -->
<section class="google-map" data-ng-app="mapsApp">
  <div data-ng-controller="locationCtrl" data-ng-init="getAll()">
    <h1>Google Map</h1>
    <h2>Right-click to choose a location</h2>
    <div id="map"></div>

    <!-- MAP WINDOW -->
    <article class="info-window">
      <h2>Map Info Window</h2>
      <ul>
        <li>Destination: {{name}}</li>
        <li>Departure Date: {{ mapForm.departure | date }}</li>
        <li>Days: {{ mapForm.days }}</li>
        <li>{{ mapForm.triptype }}</li>
      </ul>
      <ul class="article-links">
        <li><a href="#/plan" class="btn-xsmall">Plan</a></li>
        <li><a href="#/photos" class="btn-xsmall">Photos</a></li>
        <li><a href="#/memos" class="btn-xsmall">Memos</a></li>
        <li><a href="#/bookmarks" class="btn-xsmall">Links</a></li>
      </ul>
    </article>


    <!-- MODAL DIALOG (FORM) -->
    <button data-ng-click="toggleModal()">Toggle Modal</button>
    <modal-dialog show='modalShown'>
      <div class="mapForm-wrapper">
        <h2>Add Trip</h2>
        <form name ="mapForm" novalidate>
          <fieldset>
            <label for="destination">Destination</label>
            <input type="text" placeholder="Destination" data-ng-model="mapForm.destination" required>
            {{ mapForm.destination }}
          </fieldset>
          <fieldset>
            <label for="departure">Departure Date</label>
            <input type="date" placeholder="10-1-2015" data-ng-model="mapForm.departure" required>
            {{ mapForm.departure | date }}
          </fieldset>
          <fieldset>
            <label for="days"># of Days</label>
            <input type="number" placeholder="12 days" data-ng-model="mapForm.days" required>
            {{ mapForm.days }}
          </fieldset>
          <label>Future or Past? </label>
          {{ mapForm.triptype }}
          <fieldset>
            <label>
              <input type="radio" value="Future" data-ng-model="mapForm.triptype">
                Future
            </label>
          </fieldset>
          <fieldset required>
            <label>
              <input type="radio" value="Past" data-ng-model="mapForm.triptype">
                Past
            </label>
          </fieldset>

          <button type="submit" class="btn-small" data-ng-disabled="mapForm.$invalid">Submit</button>
        </form>
      </div>
    </modal-dialog> <!--END OF FORM-->

  </div>
</section>
