<!-- PAST -->
<section class="list-wrapper" ng-init = "getPastTrips()">
  <h1>Past Journeys</h1>
  <!-- ng-repeat the article -->
  <article class="list-article" ng-repeat = "trip in pastTrips">
    <figure>
      <img src="imgs/JackieChanDrawing.png" alt="Profile avatar or photo of place">
    </figure>
    <h2>{{trip.name}}</h2>
    <p>{{trip.date}}</p>
    <p>{{trip.duration}}{{trip.duration ? ' days' : '' }}</p>
    <ul class="article-links">
      <li><a href="#/plan" class="btn-xsmall">Plan</a></li>
      <li><a href="#/photos" class="btn-xsmall">Photos</a></li>
      <li><a href="#/memos" class="btn-xsmall">Memos</a></li>
      <li><a href="#/bookmarks" class="btn-xsmall">Links</a></li>
    </ul>
  </article>
</section>
