<!-- PAST -->
<section class="list-wrapper">
  <h1>Past Journeys</h1>
  <!-- ng-repeat the article -->
  <article class="list-article">
    <figure>
      <img src="imgs/JackieChanDrawing.png" alt="Profile avatar or photo of place">
    </figure>
    <h2>New York, NY ((Destination))</h2>
    <p>10/22/2015 ((Departure Date))</p>
    <p>12 Days ((# of days))</p>
    <ul class="article-links">
      <li><a href="#/plan" class="btn-xsmall">Plan</a></li>
      <li><a href="#/photos" class="btn-xsmall">Photos</a></li>
      <li><a href="#/memos" class="btn-xsmall">Memos</a></li>
      <li><a href="#/bookmarks" class="btn-xsmall">Links</a></li>
    </ul>
  </article>
</section>
