<section class="features">

<!-- ADD PHOTOS -->
  <article class="photo-summary">
    <h1>Photos</h1>
    <h2>New York, NY</h2>
    <section class="gallery">
      <div class="superbox-list">
        <img src="img/superbox/superbox-thumb-1.jpg" data-img="img/superbox/superbox-full-1.jpg" alt="" class="superbox-img">
      </div><!--
      --><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-2.jpg" data-img="img/superbox/superbox-full-2.jpg" alt="" class="superbox-img">
      </div><!--
      --><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-3.jpg" data-img="img/superbox/superbox-full-3.jpg" alt="" class="superbox-img">
      </div>
    </section>
    <a href="#/form" class="btn-xsmall">Add</a>
  </article>
</section>
