<section class="features">
<!-- ADD PHOTOS -->
  <article class="photo-summary">
    <h1>Photos</h1>
    <h2>Some place</h2>


    <div class="wrapper">

      <!-- SuperBox -->
      <div class="superbox">
        <div class="superbox-list">
          <img src="imgs/superbox/thumb1.jpg" data-img="imgs/superbox/photo1.jpg" alt="" class="superbox-img">
        </div><!--
        --><div class="superbox-list">
          <img src="imgs/superbox/thumb2.jpg" data-img="imgs/superbox/photo2.jpg" alt="" class="superbox-img">
        </div><!--
        --><div class="superbox-list">
          <img src="imgs/superbox/thumb3.jpg" data-img="imgs/superbox/photo3.jpg" alt="" class="superbox-img">
        </div>
        <div class="superbox-list">
          <img src="imgs/superbox/thumb1.jpg" data-img="imgs/superbox/photo1.jpg" alt="" class="superbox-img">
        </div><!--
        --><div class="superbox-list">
          <img src="imgs/superbox/thumb2.jpg" data-img="imgs/superbox/photo2.jpg" alt="" class="superbox-img">
        </div><!--
        --><div class="superbox-list">
          <img src="imgs/superbox/thumb3.jpg" data-img="imgs/superbox/photo3.jpg" alt="" class="superbox-img">
        </div><!--
        -->
        <div class="superbox-float"></div>
      </div>
      <!-- /SuperBox -->

      <div style="height:300px;"></div>

    </div>


    <a href="#/form" class="btn-xsmall">Add</a>
  </article>
</section>
