<section class="google-map features plan-dialog" ng-init = "getPlan()">
  <div class='ng-modal-overlay'>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
      <article class="plan-summary">
      <h1>Plan (Short View)</h1>
      <h2>{{tripInfo2.name}}</h2>
      <ul>
        <li>{{tripInfo2.plan ? 'PLAN:' : ''}} {{tripInfo2.plan}}</li>
        <li>
          <ul>
            <li ng-repeat="note in tripInfo2.memo">
              {{note}}
            </li>
          </ul>
        </li>
        <li>{{tripInfo2.date | date: 'short'}}</li>
        <li>{{tripInfo2.duration}}</li>
        <li>{{tripInfo2.start | date: 'mediumDate'}} {{tripInfo2.end ?  'to' : ''}} {{tripInfo2.end | date: 'mediumDate'}}</li>
      </ul>
      <a href="#/summary"><button class="btn-small">Long View</button></a>
      <a href="#/map"><button class="btn-small">Cancel</button></a>
      </article>
    </div>
  </div>
</section>
