
<!-- FEATURES -->
<section class="features" ng-init = "getPlan()">
    {{tripInfo2}}
    <h1>Plan</h1>
    <h2>{{tripInfo2.name}}</h2>
    <ul>
      <li>{{tripInfo2.plan ? 'PLAN:' : ''}} {{tripInfo2.plan}}</li>
      <li>{{tripInfo2.memo}}</li>
      <li>{{tripInfo2.date | date: 'short'}}</li>
      <li>{{tripInfo2.duration}}</li>
      <li>{{tripInfo2.start | date: 'mediumDate'}} {{tripInfo2.end ?  'to' : ''}} {{tripInfo2.end | date: 'mediumDate'}}</li>
      <li><a href="#/form" class="btn-xsmall">Add</a></li>
    </ul>

  </article>
</section>
