<!-- LOG IN / SIGN UP -->
<section class="signup" id="login">
  <div class="login-wrapper">
    <h1>Log In / Sign Up</h1>
    <form name = "userForm" data-ng-submit = "sendToServer(user)">
      <input type="text" placeholder="username" data-ng-model = "user.username">
      <input type="password" placeholder="password" data-ng-model = "user.password">
      <input type="submit" name="Submit" class="btn-small">
      <p ng-hide = 'loggedIn()' class = "btn-small">{{warning}}</p>
    </form>
  </div>
</section>
