<!-- FEATURES -->
<section class="features">
  <!-- MAKE PLAN -->
  <article class="plan-summary">
    <h1>Plan</h1>
    <h2>New York, NY</h2>
    <ul>
      <li>Time Square</li>
      <li>SOHO</li>
      <li>Brooklyn Bridge</li>
      <li>Central Park</li>
    </ul>
    <button class="btn-xsmall">Add</button>
  </article>

  <!-- ADD PHOTOS -->
  <article class="photo-summary">
    <h1>Photos</h1>
    <section class="gallery">
      <h2>Preview Gallery</h2>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </section>
    <button class="btn-xsmall">Add</button>

  </article>

  <!-- WRITE MEMOS -->
  <article class="memo-summary">
    <h1>Memos</h1>
    <ul>
      <li>Time Square</li>
      <li>SOHO</li>
      <li>Brooklyn Bridge</li>
      <li>Central Park</li>
    </ul>
    <button class="btn-xsmall">Add</button>
  </article>

  <!-- SAVE URLS -->
  <article class="bookmarks-summary">
    <h1>Bookmarks</h1>
    <ul>
      <li>Time Square</li>
      <li>SOHO</li>
      <li>Brooklyn Bridge</li>
      <li>Central Park</li>
    </ul>
    <button class="btn-xsmall">Add</button>
  </article>
</section>
