<!-- FEATURES -->
<section class="google-map features" data-ng-app="mapsApp" data-init="getSummary()">
  <div class='ng-modal-overlay'>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
      <h1>Summary View</h1>
      <article class="plan-summary">
        <h1>Plan</h1>
        <h2>{{anchor}}</h2>
        <ul>
          <li>Time Square</li>
          <li>SOHO</li>
          <li>Brooklyn Bridge</li>
          <li>Central Park</li>
          <li><a href="#/form" class="btn-xsmall">Add</a></li>
        </ul>
        <a href="#/map"><button class="btn-small">Cancel</button></a>
    </div>
  </div>
</section>






