<!--  WELCOME PAGE   -->
<section class="welcome">
  <div class="welcome-wrapper">
    <h1>Let's go see the world.</h1>
    <a href="#login" class="btn-small">Log In</a>
    <a href="#login" class="btn-small">Sign Up</a>
  </div>
</section>

<!-- DEFAULT LANDING PAGE  -->
<section class="banner">
  <h1>Some kind of carousel thing</h1>
  <div class="carousel-wrapper">
    <div>
      <figure>
        <img src="imgs/ChrisRockLineDrawing.jpg" alt="Jackie Chan">
        <figcaption>Jackie Chan</figcaption>
      </figure>
    </div>
    <div>
      <figure>
        <img src="imgs/ChrisRockLineDrawing.jpg" alt="Chris Rock">
        <figcaption>Chris Rock</figcaption>
      </figure>
    </div>
    <div>
      <figure>
        <img src="imgs/AngelinaJolieDrawing.jpg" alt="Angelina Jolie">
        <figcaption>Angelina Jolie</figcaption>
      </figure>
    </div>
  </div>
  <!-- carousel of photos -->
  <a href="#" class="btn-small">Map!</a>
</section>

<!-- LOG IN / SIGN UP -->
<section class="login" id="login">
  <div class="login-wrapper">
    <h1>Log In / Sign Up</h1>
    <form>
      <input type="text" placeholder="username">
      <input type="email" placeholder="email">
      <input type="submit" name="Submit" class="btn-small">
    </form>
  </div>
</section>
