<!--  WELCOME PAGE   -->
<section class="welcome">
  <div class="welcome-wrapper">
    <h1>Let's go see the world.</h1>
    <a href="/#/signin" class="btn-small">Log In</a>
    <a href="/#/signup" class="btn-small">Sign Up</a>
  </div>
</section>

<!-- DEFAULT LANDING PAGE  -->
<section class="banner">
  <h1>Some info about our app's features!</h1>
    <div>
      <figure>
        <img src="imgs/ChrisRockLineDrawing.jpg" alt="Jackie Chan">
        <figcaption>Jackie Chan</figcaption>
      </figure>
    </div>

  <!-- carousel of photos -->
  <a href="#" class="btn-small">Map!</a>
</section>

<!-- LOG IN / SIGN UP -->
<section class="login" id="login">
  <div class="login-wrapper">
    <h1>Log In / Sign Up</h1>
    <form>
      <input type="text" placeholder="username">
      <input type="email" placeholder="email">
      <a href="#/dashboard"><input type="submit" name="Submit" class="btn-small"></a>
    </form>
  </div>
</section>
